# Ambientes locais e dados de configuracao sensivel
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Compilados do Python
__pycache__/
*.py[cod]
*$py.class

# Pytest e Coverage
.pytest_cache/
.coverage
htmlcov/

# Logs e Dados Temporarios
logs/
*.log

# Docker e Diversos
.DS_Store

xxxcccc
